body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    /*width = andchura*/
    width: 100%;
    /*height altura*/
    height: 60px;
}


/*aplica estilo a la etiqueta nav dentro de header*/

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    /* El auto indica que tome la altura del padre, es decir, del header */
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}


/* con el elemento "a" se indica que se irá a buscar el elemento ancla de los <li> */

nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    /* método alternativo a mandarla a llamar desde el html */
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    /* Para evitar que si el contendor es más grande que la imagen, esta se repita hasta llenar el espacio del mismo */
    background-repeat: no-repeat;
    background-position: center;
    /* Para que la imagen se adapte al tamaño del contenedor */
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    /* margin: 0 auto toma en cuenta el valor de width y divide lo que le sobra entre dos (margin left y right), ayuda a la parte responsiva */
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 272px;
    height: 92px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    /* El borde del contenedor */
    border: none;
    /* La línea que aparece cuando damos click sobre de él */
    outline: none;
}


/* Se lee como: al momento que el mouse pase encima del elemento, haz X */

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    /* Borde del input se oscurece al entrar el efecto hover*/
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .micro-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.main-input-container input {
    margin-left: 12px;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    font-size: 14px;
    color: #5f6368;
    border-radius: 4px;
    /* Padding es el espacio interno que tienen los elementos con su contenedor padre  */
    padding: 0, 15px;
    margin: 11px 4px;
    cursor: pointer;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
}